body{

    margin: auto;
    font-size: 87.5%;
    font-family: Arial, Helvetica, sans-serif ;
    line-height: 1.5;
    text-align: left;  
}

.body{
  margin: 0 auto;
  width: 70%;
  clear: both;
}
/* 
.main_content{
  width: 1600px;
  margin: 0 auto;
}
.container{
  width: 1500px;
  margin: 0 auto;
} */

/* .main_header{
  width: 100%;
  height:100 px;
  background: red;
  top: 0;
  left: 0;
}

.logo{
  float: left;  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
  */
a{
  text-decoration: none;
}
a:link , a:visited{
  color: #CF5C3F;
}

a:hover , a:active{
  background-color: #CF5C3F;
  color: white;
}
 

.main_header nav{
  background-color: #666;
  height: 40px;
  border-radius: 5px;
}

.main_header nav ul{
  list-style: none;
  margin: 0 auto;
}

.main_header nav ul li{
  float: left;
  display: inline;
  /* margin-left: 20px;
  font-size: 30px;
  padding-top: 13px; */
}

/* 
.main_header nav{
  list-style: none; 
   float: right; 
  background-color: #666;
  height: 40px;
  border-radius: 5px;

} */

.main_header nav a:link , .main_header nav a:visited{
  color: #FFF;
  display: inline-block;
  padding: 10px 25px;
  height: 20px;
}

.main_header nav a:hover , .main_header nav a:active , 
.main_header nav .active a:link , .main_header nav .active a:visited{
  background-color: #CF5C3F;
  text-shadow: none;
}

.main_header nav ul li a{
  border-radius: 5px;
}
.mouse-cursor-gradient-tracking {
    position: relative;
    left: 1000px;
    top: 5px;
    background: #1d226b;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    border: none;
    color: rgb(18, 207, 75);
    cursor: pointer;
    outline: none;
    overflow: hidden;
  } 

 .mouse-cursor-gradient-tracking span {
    position: relative;
  }
  .mouse-cursor-gradient-tracking::before {
    --size: 30;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, rgb(245, 230, 94), transparent);
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
  }
  .mouse-cursor-gradient-tracking:hover::before {
    --size: 200px;
  }
 

  .main_content{
    line-height: 25px;
    border-radius: 5px;
  }
 .content{
    width: 70%;
    float: left;
 } 

 .topcontent{
   background-color: aqua;
   border-radius: 5px;
   padding: 3% 5%;
   margin-top: 2%;
 }

 .bottomcontent{
  background-color: aqua;
  border-radius: 5px;
  padding: 3% 5%;
  margin-top: 2%;
}

.top-sidebar{
  width: 21%;
  float: left;
  background-color: blueviolet;
  border-radius: 5px;
  margin-left: 3%;
  padding: 2% 3% ;
  margin-bottom: 2%;
  margin-top: 2%;
  color:greenyellow;
}

.middle-sidebar{
  width: 21%;
  float: left;
  background-color: blueviolet;
  border-radius: 5px;
  margin-left: 3%;
  padding: 2% 3% ;
  margin-bottom: 2%;
  color:greenyellow;
}

.mainFooter{
  width: 100%;
  height: 40px;
  float: left;
  border-radius: 5px;
  margin-top: 2%;
  margin-bottom: 2%; 
  background-color: #666;
}

.mainFooter p{
  width: 92%;
  margin: 1% auto;
  color : white;
}

.post-info{
  font-style: italic;
  color: #999;
  font-size: 90%;
}